{% extends "layout.html" %}

{% block content %}

<!--<img id="toggle-color" src="../images/sun.png"/>-->

<div class="container-fluid">

  <div class="row ticker">
    <div class="col-xs-0 col-sm-1"></div>
    <div class="col-xs-12 col-sm-10">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="row">
            <div class="col-xs-12 price">
              <img src="../images/bitcoin.png"/>
              <p id="btc_price"></p>
              <img class="invert" src="../images/ethereum.png"/>
              <p id="eth_price"></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9">
          <div class="row">
            <div class="col-xs-4 border-rt">
              <p id="btc_dom"></p>
            </div>
            <div class="col-xs-4 border-rt">
              <p id="eth_dom">%</p>
            </div>
            <div class="col-xs-4">
              <p id="pct_dom"></p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-0 col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 title">
      <a href="http://flippening.watch" class="main-link">
        <img class="logo" src="../favicon/android-icon-192x192.png" alt="logo"/>
        <h1>Flippening Watch</h1>
      </a><br>
    </div>
    <div class="col-xs-12 navigation-bar">
      <a href="/">Metrics</a>
      <a href="/charts">Charts</a>
      <a href="https://store.flippening.watch/">Store</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 ad fivepx-top-padding">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Flippening Watch charts 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3200453829299141"
     data-ad-slot="6619357522"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>

<div class="container-fluid table-container market-share-comparison">

  <div class="row transparent">
    <div class="col-xs-12">
      <h2>Market Cap Ratio</h2>
      <p>ETH/BTC</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="chart-container">
          <canvas id="marketCapRatio" class="chart"></canvas>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 ad fivepx-top-padding">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Flippening Watch charts 2 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3200453829299141"
           data-ad-slot="9762797128"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>

<div class="container-fluid table-container market-share-comparison">

  <div class="row transparent">
    <div class="col-xs-12">
      <h2>Market Caps</h2>
      <p>ETH vs. BTC</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="chart-container">
          <canvas id="marketCapComparison" class="chart"></canvas>
      </div>
    </div>
  </div>

</div>

<footer>
  <div class="container-fluid">
    <div class="row twitter">
      <div class="col-xs-12">
        <a href="https://twitter.com/flippeningwatch" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @flippeningwatc</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
            <a class="link" href="https://store.flippening.watch" target="_blank"/>STORE</a> |
            <a class="link" href="http://blog.flippening.watch/advertising/" target="_blank">ADVERTISE</a>
        </p>
        <p>
            <a class="link" href="http://blog.flippening.watch/about/" target="_blank">ABOUT</a> |
            <a class="link" href="http://blog.flippening.watch/contact/" target="_blank">CONTACT</a> |
            <a class="link" href="http://blog.flippening.watch/sources-and-formulas/" target="_blank">SOURCES</a>
        </p>
        <p class="copyright">Donate ETH: flippeningwatch.eth</p>
        <p class="copyright">0x00f2d1D2f91AD66Fb9828a0a6c299515aA969743</p>
        <p class="copyright">&copy; 2017 <a href="http://poltavastreet.company/" target="_blank">poltava Street Company</a></p>
      </div>
    </div>
  <div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script type="text/javascript" src="../js/moment.js"></script>

<script>

/* graph data */

var pct = 0;

var labelArray = [];
var data_set = [];
var times = [];
var eth_data = [];
var eth_times = [];
var flippening_ratio = [];

{% for cap in ethdata %}
  eth_data.push({{ cap }});
{% endfor %}

{% for item in dataset %}
      data_set.push( {{ item }} );
{% endfor %}

{% for time in times %}
      labelArray.push( {{ time }} );
{% endfor %}

for (let i = 0; i < labelArray.length; i++) {
  var newTime = labelArray[i]*1000;
  /*var newTime = moment.utc(labelArray[i] * 1000).format('MM / YYYY');*/
  times.push(newTime);
}

/* reverse ethereum dataset so its earliest points to most recent points */
eth_data.reverse();

/* difference number of datapoints in bitcoin and ethereum datasets */
var btc_datapoints = data_set.length;
var eth_datapoints = eth_data.length;
var diff = eth_datapoints - btc_datapoints;

/* remove difference from eth dataset */
eth_data.splice(0, diff);

console.log(eth_data.length);


/* create array of flippening ratios */
for (let i = 0; i < data_set.length; i++) {
  var ratio = (eth_data[i]/data_set[i])*100;
  flippening_ratio.push(ratio);
}

/* market cap comparison chart */
var ctx = document.getElementById("marketCapComparison").getContext('2d');
Chart.defaults.global.defaultColor = 'rgba(0,0,0,0)';
Chart.defaults.global.defaultFont = "Raleway";
Chart.defaults.global.defaultFontSize = 14;
Chart.defaults.global.defaultFontColor = '#000';

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: times,
        datasets: [{
              label: 'ETHEREUM',
              data: eth_data,
              backgroundColor: 'rgba(50,51,51,0.6)',
              borderColor: 'rgba(50,51,51,1)',
              borderWidth: 2,
              pointRadius: 0,
              pointBackgroundColor: 'rgba(50,51,51,0.6)',
              pointBorderColor: 'rgba(50,51,51,0.6)'
          },
          {
            label: 'BITCOIN',
            data: data_set,
            backgroundColor: 'rgba(250,144,57,0.4)',
            borderColor: 'rgba(250,144,57,1)',
            borderWidth: 2,
            pointRadius: 0,
            pointBackgroundColor: 'rgba(250,144,57,0.4)',
            pointBorderColor: 'rgba(250,144,57,0.4)'
          }]
    },
    options: {
      tooltips: {
            mode: 'x',
            intersect: false,
            displayColors: true,
            callbacks: {
              label: function(tooltipItem, data) {
                return "$" + Number(tooltipItem.yLabel).toFixed(0).replace(/./g, function(c, i, a) {
                  return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
                });
              },
              title: function(tooltipItem, data) {
                newDate = data.labels[tooltipItem[0].index];
                return moment.utc(newDate).format('MMMM Do YYYY');
              }
            }
        },
        elements: {
            line: {
                tension: 0, // disables bezier curves
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    callback: function(value, index, values) {
                        return '$' + value/1000000000 + "B";
                    }
                }
            }],
            xAxes: [{
              gridLines: {
                color: "#FFFFFF"
              },
              ticks: {
                  callback: function(value, index, values) {
                      return moment.utc(value).format('MM / YYYY');
                  }
              }

            }]
        }
    }
});

/* market cap ratio chart */
var ctxratio = document.getElementById("marketCapRatio").getContext('2d');
var gradient = ctxratio.createLinearGradient(1000, 500, 1000, 200);
gradient.addColorStop(0, '#03fcfe');
gradient.addColorStop(1, '#13ff00');

var newChart = new Chart(ctxratio, {
  type: 'line',
  data: {
    labels: times,
    datasets: [{
      label: '% TO FLIPPENING',
      data: flippening_ratio,
      backgroundColor: gradient,
      borderColor: 'rgba(50,51,51,1)',
      borderWidth: 2,
      pointRadius: 0,
      pointBackgroundColor: gradient,
      pointBorderColor: 'rgba(50,51,51,0.6)'
    }]
  },
  options: {
    tooltips: {
      mode: 'nearest',
      intersect: false,
      displayColors: true,
      callbacks: {
        label: function(tooltipItem, data) {
          return Number(tooltipItem.yLabel).toFixed(1) + "%";
        },
        title: function(tooltipItem, data) {
          newDate = data.labels[tooltipItem[0].index];
          return moment.utc(newDate).format('MMMM Do YYYY');
        }
      }
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero:true,
          max: 100,
          callback: function(value, index, values) {
            return value + "%";
          }
        }
      }],
      xAxes: [{
        gridLines: {
          color: "#FFFFFF"
        },
        ticks: {
          callback: function(value, index, values) {
            return moment.utc(value).format('MM / YYYY');
          }
        }
      }]
    }
  }
});


/* price ticker data */
var btc       = {{ api[0] }};
var eth       = {{ api[1] }};
var eth_price = {{ api[2] }};
var btc_price = {{ api[3] }};
var mkt_cap   = {{ api[4] }};

var btc_dom = (btc / mkt_cap) * 100;
var eth_dom = (eth / mkt_cap) * 100;
var pct_dom = (eth / btc) * 100;

eth_price = eth_price.toFixed(2);

$('#eth_price').html("$" + eth_price.toLocaleString('en-US') );
$('#btc_price').html("$" + btc_price.toLocaleString('en-US') );
$('#btc_dom').html("BTC MS: " + btc_dom.toFixed(1) + "%");
$('#eth_dom').html("ETH MS: " + eth_dom.toFixed(1) + "%");
$('#pct_dom').html("ETH/BTC: " + pct_dom.toFixed(1) + "%");


/* navigation indicator */
$('.navigation-bar a:nth-child(2)').css({'font-weight':'800','text-decoration':'underline'});

</script>


{% endblock %}
