{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">

  <div class="row ticker">
    <div class="col-xs-0 col-sm-1"></div>
    <div class="col-xs-12 col-sm-10">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="row">
            <div class="col-xs-12 price">
              <img src="images/bitcoin.png"/>
              <p id="btc_price"></p>
              <img src="images/ethereum.png"/>
              <p id="eth_price"></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-9">
          <div class="row">
            <div class="col-xs-4 border-rt">
              <p id="btc_dom"></p>
            </div>
            <div class="col-xs-4 border-rt">
              <p id="eth_dom">%</p>
            </div>
            <div class="col-xs-4">
              <p id="pct_dom"></p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-0 col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 title">
      <img class="logo" src="favicon/apple-icon.png" alt="logo"/>
      <h1>Flippening Watch</h1><br>
      <a class="link" href="http://blog.flippening.watch/index.php/2017/06/13/what-is-the-flippening/">What is &quot;the Flippening?&quot;</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 ad">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Flippening Watch top -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3200453829299141" data-ad-slot="5045649924" data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>

</div>

<div class="container-fluid table-container">

  <div class="row">

    <div class="table-header col-xs-3 col-sm-3 border-top-left">
      <img src="images/metrics.png" alt="metrics"/>
      <p>Metrics</p>
    </div>
    <div class="table-header col-xs-3 col-sm-3 crypto crypto-block border-top-left">
      <img src="images/ethereum.png" alt="ethereum"/>
      <p>ethereum</p>
    </div>
    <div class="table-header col-xs-3 col-sm-3 crypto crypto-block border-top-left">
      <img src="images/bitcoin.png" alt="bitcoin"/>
      <p>bitcoin</p>
    </div>
    <div class="table-header col-xs-3 col-sm-3 border-top-left-right">
      <img src="favicon/apple-icon.png" alt="percentage"/>
      <p>flippening</p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left">
      <p>Market Cap</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="eth_mkt_cap"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="btc_mkt_cap"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <p id="eth_btc_pct"></p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left">
      <p>Transactions (24H)</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="eth_tx"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="btc_tx"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <p id="pct_tx"></p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left">
      <p>Trading Volume (24H)</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="eth_vol"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="btc_vol"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <p id="pct_vol"></p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left">
      <p>Mining Reward (24H)</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="eth_rwd"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="btc_rwd"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <p id="pct_rwd"></p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left">
      <p>Nodes</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="ethNodes"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="btcNodes"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <p id="pctNodes"></p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left-bottom">
      <p>Google Trends</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left-bottom">
      <p id="eth_trends"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left-bottom">
      <p id="btc_trends"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-all pct">
      <p id="pct_trends"></p>
    </div>
  </div>


  <div class="row updated">
    <div class="col-xs-12">
      <p id="last_updated"></p>
    </div>
  </div>
  <div class="row portrait-only">
    <div class="col-xs-12">
      <p>Switch to landscape for full table view</p>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row ad">
    <div class="col-xs-12">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Flippening Watch 2 -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3200453829299141" data-ad-slot="8584212329" data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>

  <footer>
    <div class="container-fluid">
      <div class="row twitter">
        <div class="col-xs-12">
          <a href="https://twitter.com/flippeningwatc" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @flippeningwatc</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="copyright">Copyright &copy; <a href="http://poltavastreet.company/">poltava Street Company</a> - 2017</p>
          <p class="copyright">Donate ETH: 0x00f2d1D2f91AD66Fb9828a0a6c299515aA969743</p>
        </div>
      </div>
    <div>
  </footer>


  <script>

    var btc       = {{ api[0] }};
    var eth       = {{ api[1] }};
    var pct       = {{ api[2] }};
    var btc_vol   = {{ api[3] }};
    var eth_vol   = {{ api[4] }};
    var pct_vol   = {{ api[5] }};
    var eth_price = {{ api[6] }};
    var btc_rwd   = {{ api[7] }};
    var eth_rwd   = {{ api[8] }};
    var pct_rwd   = {{ api[9] }};
    var btc_tx    = {{ api[10] }};
    var btc_nodes = {{ api[11] }};
    var mkt_cap   = {{ api[12] }};
    var btc_price = {{ api[13] }};

    // set manually
    var eth_tx    = 292237; // 24 hour ETH transaction volume
    var eth_nodes = 35006; // ETH Nodes
    var btc_trends = 78; // BTC google trends
    var eth_trends = 47; // ETH google trends
    var last_updated = "*MANUALLY UPDATED: JUNE 12TH, 2017 9:53PM UTC−4:00";

    $('#last_updated').html( last_updated );

    var btc_dom = (btc / mkt_cap) * 100;
    var eth_dom = (eth / mkt_cap) * 100;
    var pct_dom = (eth / btc) * 100;

    eth_price = eth_price.toFixed(2);

    $('#eth_price').html("$" + eth_price.toLocaleString('en-US') );
    $('#btc_price').html("$" + btc_price.toLocaleString('en-US') );
    $('#btc_dom').html("BTC DOM: " + btc_dom.toFixed(1) + "%");
    $('#eth_dom').html("ETH DOM: " + eth_dom.toFixed(1) + "%");
    $('#pct_dom').html("ETH/BTC: " + pct_dom.toFixed(1) + "%");


    $('#btc_mkt_cap').html( "$" + btc.toLocaleString('en-US') );
    $('#eth_mkt_cap').html( "$" + eth.toLocaleString('en-US') );
    $("#eth_btc_pct").html( pct.toFixed(1) + "%" );
    if (pct > 100) {
      $("#eth_btc_pct").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#eth_btc_pct").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

    $("#btc_vol").html( "$" + btc_vol.toLocaleString('en-US')  );
    $("#eth_vol").html( "$" + eth_vol.toLocaleString('en-US')  );
    $("#pct_vol").html( pct_vol.toFixed(1) + "%" );
    if (pct_vol > 100) {
      $("#pct_vol").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#pct_vol").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

    $("#btc_rwd").html( "$" + btc_rwd.toLocaleString('en-US') );
    $("#eth_rwd").html( "$" + eth_rwd.toLocaleString('en-US') );
    $("#pct_rwd").html( pct_rwd.toFixed(1) + "%" );
    if (pct_rwd > 100) {
      $("#pct_rwd").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#pct_rwd").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

    pct_trends = (eth_trends/btc_trends) * 100;
    $("#btc_trends").html( btc_trends + "*" );
    $("#eth_trends").html( eth_trends + "*" );
    $("#pct_trends").html( pct_trends.toFixed(1) + "%" );
    if (pct_trends > 100) {
      $("#pct_trends").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#pct_trends").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

    var pct_tx = (eth_tx / btc_tx) * 100;
    $("#btc_tx").html( btc_tx.toLocaleString('en-US') );
    $("#eth_tx").html( eth_tx.toLocaleString('en-US') + "*" );
    $("#pct_tx").html( pct_tx.toFixed(1) + "%" );
    if (pct_tx > 100) {
      $("#pct_tx").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#pct_tx").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

    var pct_nodes = (eth_nodes / btc_nodes) * 100;
    $("#btcNodes").html( btc_nodes.toLocaleString('en-US') );
    $("#ethNodes").html( eth_nodes.toLocaleString('en-US') + "*" );
    $("#pctNodes").html( pct_nodes.toFixed(1) + "%" );
    if (pct_nodes > 100) {
      $("#pctNodes").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#pctNodes").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

  </script>

{% endblock %}
