{% extends "layout.twig" %}

{% block subtitle %}
  <a class="link" href="http://blog.flippening.watch/what-is-the-flippening/" target="_blank">What is &quot;the Flippening?&quot;</a>
  <!--  <a class="link" href="https://store.flippening.watch/" target="_blank">FLIPPENING T-SHIRTS, MUGS, & MORE!</a> -->
  <a class="link" href="http://www.ethprice.com/" target="_blank">Partner: Ethereum Price</a>
{% endblock %}

{% block content %}

<img id="toggle-color" src="images/sun.png"/>

<!-- Flippening Watch Google ad top -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 ad">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3200453829299141" data-ad-slot="5045649924" data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>

<div class="container-fluid table-container">

  <div class="row">
    <div class="table-header col-xs-3 col-sm-3 border-top-left">
      <img class="invert" src="images/metrics.png" alt="metrics"/>
      <p>Metrics</p>
    </div>
    <div class="table-header col-xs-3 col-sm-3 crypto crypto-block border-top-left">
      <img class="invert" src="images/ethereum.png" alt="ethereum"/>
      <p>ethereum</p>
    </div>
    <div class="table-header col-xs-3 col-sm-3 crypto crypto-block border-top-left">
      <img src="images/bitcoin.png" alt="bitcoin"/>
      <p>bitcoin</p>
    </div>
    <div class="table-header col-xs-3 col-sm-3 border-top-left-right">
      <img src="favicon/android-icon-192x192.png" alt="percentage"/>
      <p>flippening</p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left">
      <p>Market Cap</p>
    </div>
    <a href="charts#marketCapComparison">
      <div class="col col-xs-3 col-sm-3 crypto border-top-left">
        <div>
          <p class="chart-link" id="eth_mkt_cap"></p>
        </div>
      </div>
    </a>
    <a href="charts#marketCapComparison">
      <div class="col col-xs-3 col-sm-3 crypto border-top-left">
        <div>
          <p class="chart-link" id="btc_mkt_cap"></p>
        </div>
      </div>
    </a>
    <a href="charts#marketCapRatio">
      <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
        <div class="progress"></div>
        <p class="chart-link" id="eth_btc_pct"></p>
      </div>
    </a>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left">
      <p>Transactions (24H)</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="eth_tx"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="btc_tx"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
    <p id="pct_tx"></p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left">
      <p>Trading Volume (24H)</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="eth_vol"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="btc_vol"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
    <p id="pct_vol"></p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left">
      <p>Mining Reward (24H)</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="eth_rwd"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="btc_rwd"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
    <p id="pct_rwd"></p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left">
      <p>Nodes</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="ethNodes"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p id="btcNodes"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
    <p id="pctNodes"></p>
    </div>
  </div>

  <div class="row">

    <div class="col align-rt col-xs-3 col-sm-3 border-top-left-bottom">
      <p>Google Trends</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left-bottom">
      <p id="eth_trends"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left-bottom">
      <p id="btc_trends"></p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-all pct">
      <div class="progress"></div>
    <p id="pct_trends"></p>
    </div>
  </div>


  <div class="row updated">
    <div class="col-xs-12">
      <p id="last_updated"></p>
    </div>
  </div>
  <div class="row portrait-only">
    <div class="col-xs-12">
      <p>Switch to landscape for full table view</p>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row ad full-padding">
    <div class="col-xs-12">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Flippening Watch 2 -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3200453829299141" data-ad-slot="8584212329" data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>

<!-- market share comparison table -->
<div class="container-fluid table-container market-share-comparison">
  <!-- title -->
  <div class="row transparent">
    <div class="col-xs-0 hidden-xs col-sm-3"></div>
    <div class="col-xs-12 col-sm-6">
      <a class="underline" href="/charts#marketShareTop15">
        <h2>Market Share</h2>
      </a>
      <p>Total: $<span id="total_market_share"></span></p>
    </div>
    <div class="col-xs-0 hidden-xs col-sm-3"></div>
  </div>

  <!-- table labels -->
  <div class="row">
    <div class="table-header col-xs-3 col-sm-3 border-top-left">
      <img class="invert" src="images/currency.png" alt="currency"/>
      <p>Currency</p>
    </div>
    <div class="table-header col-xs-3 col-sm-3 crypto crypto-block border-top-left">
      <img class="invert" src="images/price.png" alt="price"/>
      <p>Price</p>
    </div>
    <div class="table-header col-xs-3 col-sm-3 crypto crypto-block border-top-left">
      <img class="invert" src="images/market-cap.png" alt="market cap"/>
      <p>Market Cap</p>
    </div>
    <div class="table-header col-xs-3 col-sm-3 border-top-left-right">
      <img class="invert" src="images/market-share.png" alt="market share"/>
      <p>Market Share</p>
    </div>
  </div>

  <!-- currency 1 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[13] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[14] }}</p>
    </div>
    <a href="charts#marketCapComparison">
      <div class="col col-xs-3 col-sm-3 crypto border-top-left">
        <p class="currency_cap chart-link">{{ api[15] }}</p>
      </div>
    </a>
    <a href="charts#marketShareComparison">
      <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
        <div class="progress"></div>
        <p class="market_share chart-link"></p>
      </div>
    </a>
  </div>

  <!-- currency 2 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[16] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[17] }}</p>
    </div>
    <a href="charts#marketCapComparison">
      <div class="col col-xs-3 col-sm-3 crypto border-top-left">
        <p class="currency_cap chart-link">{{ api[18] }}</p>
      </div>
    </a>
    <a href="charts#marketShareComparison">
      <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
        <div class="progress"></div>
        <p class="market_share chart-link"></p>
      </div>
    </a>
  </div>

  <!-- currency 3 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[19] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[20] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[21] }}</p>
    </div>
    <a href="charts#marketShareComparison">
      <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
        <div class="progress"></div>
        <p class="market_share chart-link"></p>
      </div>
    </a>
  </div>

  <!-- currency 4 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[22] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[23] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[24] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 5 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[25] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[26] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[27] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 6 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[28] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[29] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[30] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 7 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[31] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[32] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[33] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 8 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[34] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[35] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[36] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 9 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[37] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[38] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[39] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 10 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[40] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[41] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[42] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 11 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[43] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[44] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[45] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 12 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[46] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[47] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[48] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 13 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[49] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[50] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[51] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 14 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left">
      <div>
        <p class="currency_name">{{ api[52] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_price">{{ api[53] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left">
      <p class="currency_cap">{{ api[54] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-top-left-right pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <!-- currency 15 -->
  <div class="row">
    <div class="col col-currency align-rt col-xs-3 col-sm-3 border-top-left-bottom">
      <div>
        <p class="currency_name">{{ api[55] }}</p>
        <img src=""/>
      </div>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left-bottom">
      <p class="currency_price">{{ api[56] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 crypto border-top-left-bottom">
      <p class="currency_cap">{{ api[57] }}</p>
    </div>
    <div class="col col-xs-3 col-sm-3 border-all pct">
      <div class="progress"></div>
      <p class="market_share"></p>
    </div>
  </div>

  <div class="row portrait-only">
    <div class="col-xs-12">
      <p>Switch to landscape for full table view</p>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row ad full-padding">
    <div class="col-xs-12">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Flippening Watch 3 -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3200453829299141" data-ad-slot="1888217126" data-ad-format="auto"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
  </div>
</div>

  <footer>
    <div class="container-fluid">
      <div class="row twitter">
        <div class="col-xs-12">
          <a href="https://twitter.com/flippeningwatch" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @flippeningwatc</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>
              <a class="link" href="https://store.flippening.watch" target="_blank"/>STORE</a> |
              <a class="link" href="http://blog.flippening.watch/advertising/" target="_blank">ADVERTISE</a>
          </p>
          <p>
              <a class="link" href="http://blog.flippening.watch/about/" target="_blank">ABOUT</a> |
              <a class="link" href="http://blog.flippening.watch/contact/" target="_blank">CONTACT</a> |
              <a class="link" href="http://blog.flippening.watch/sources-and-formulas/" target="_blank">SOURCES</a>
          </p>
          <p class="copyright">Donate ETH: flippeningwatch.eth</p>
          <p class="copyright">0x00f2d1D2f91AD66Fb9828a0a6c299515aA969743</p>
          <p class="copyright">&copy; 2017 <a href="http://poltavastreet.company/" target="_blank">poltava Street Company</a></p>
        </div>
      </div>
    <div>
  </footer>


  <script>

    var btc       = {{ api[0] }};
    var eth       = {{ api[1] }};
    var pct       = {{ api[2] }};
    var btc_vol   = {{ api[3] }};
    var eth_vol   = {{ api[4] }};
    var pct_vol   = {{ api[5] }};
    var eth_price = {{ api[6] }};
    var btc_rwd   = {{ api[7] }};
    var eth_rwd   = {{ api[8] }};
    var pct_rwd   = {{ api[9] }};
    var btc_tx    = {{ api[10] }};
    var mkt_cap   = {{ api[11] }};
    var btc_price = {{ api[12] }};

    // set manually
    var eth_tx    = 387673; // 24 hour ETH transaction volume
    var eth_nodes = 24860; // ETH Nodes
    var btc_nodes = 9547; // BTC Nodes
    var btc_trends = 97; // BTC google trends
    var eth_trends = 21; // ETH google trends
    var last_updated = "*MANUALLY UPDATED: August 29TH, 2017 10:30AM UTC−4:00; ALL OTHERS UPDATED EVERY 5 MINUTES";

    $('#last_updated').html( last_updated );

    var btc_dom = (btc / mkt_cap) * 100;
    var eth_dom = (eth / mkt_cap) * 100;
    var pct_dom = (eth / btc) * 100;

    eth_price = eth_price.toFixed(2);

    $('#eth_price').html("$" + eth_price.toLocaleString('en-US') );
    $('#btc_price').html("$" + btc_price.toLocaleString('en-US') );
    $('#btc_dom').html("BTC MS: " + btc_dom.toFixed(1) + "%");
    $('#eth_dom').html("ETH MS: " + eth_dom.toFixed(1) + "%");
    $('#pct_dom').html("ETH/BTC: " + pct_dom.toFixed(1) + "%");

    var chartLink = "<a class=\"chart-icon\" href=\"/charts#marketCapComparison_chart\"><img src=\"images/chart-icon.png\"/></a>";

    $('#btc_mkt_cap').html( "$" + btc.toLocaleString('en-US'));
    $('#eth_mkt_cap').html( "$" + eth.toLocaleString('en-US'));
    $("#eth_btc_pct").html( pct.toFixed(1) + "%" );
    if (pct > 100) {
      $("#eth_btc_pct").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#eth_btc_pct").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

    $("#btc_vol").html( "$" + btc_vol.toLocaleString('en-US')  );
    $("#eth_vol").html( "$" + eth_vol.toLocaleString('en-US')  );
    $("#pct_vol").html( pct_vol.toFixed(1) + "%" );
    if (pct_vol > 100) {
      $("#pct_vol").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#pct_vol").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

    $("#btc_rwd").html( "$" + btc_rwd.toLocaleString('en-US') );
    $("#eth_rwd").html( "$" + eth_rwd.toLocaleString('en-US') );
    $("#pct_rwd").html( pct_rwd.toFixed(1) + "%" );
    if (pct_rwd > 100) {
      $("#pct_rwd").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#pct_rwd").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

    pct_trends = (eth_trends/btc_trends) * 100;
    $("#btc_trends").html( btc_trends + "*" );
    $("#eth_trends").html( eth_trends + "*" );
    $("#pct_trends").html( pct_trends.toFixed(1) + "%" );
    if (pct_trends > 100) {
      $("#pct_trends").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#pct_trends").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

    var pct_tx = (eth_tx / btc_tx) * 100;
    $("#btc_tx").html( btc_tx.toLocaleString('en-US') );
    $("#eth_tx").html( eth_tx.toLocaleString('en-US') + "*" );
    $("#pct_tx").html( pct_tx.toFixed(1) + "%" );
    if (pct_tx > 100) {
      $("#pct_tx").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#pct_tx").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }

    var pct_nodes = (eth_nodes / btc_nodes) * 100;
    $("#btcNodes").html( btc_nodes.toLocaleString('en-US') + "*" );
    $("#ethNodes").html( eth_nodes.toLocaleString('en-US') + "*" );
    $("#pctNodes").html( pct_nodes.toFixed(1) + "%" );
    if (pct_nodes > 100) {
      $("#pctNodes").parent().css({
        'background': '#13ff00',
        'background': '-webkit-linear-gradient(left top, #03fcfe, #13ff00)',
        'background': '-o-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': '-moz-linear-gradient(bottom right, #03fcfe, #13ff00)',
        'background': 'linear-gradient(to bottom right, #03fcfe, #13ff00)'
      });
      $("#pctNodes").css({ "color": "#fff", "font-size": "1.2em", "font-weight": "800" });
    }


    /* format market share table */
    var market_shares = [];
    var i = 0;

    $('#total_market_share').html(mkt_cap.toLocaleString('en-US'));

    $('.currency_name').each(function() {
      var name = $(this).text();
      var src = 'images/currencylogos/' + name.toLowerCase() + '.png';
      $(this).parent('div').children('img').attr('src', src);
      if (name.toLowerCase() == "ethereum classic") {
        name = "ethereum<br>classic";
        $(this).html(name);
      }
    });

    $('.currency_price').each(function() {
      var price = parseFloat( $(this).text() );
      $(this).html("$" + price.toFixed(2) );
    });

    $('.currency_cap').each(function() {
      var cap = parseInt( $(this).text() );
      $(this).html("$" + cap.toLocaleString('en-US') );
      var share = parseFloat( (cap / mkt_cap) * 100);
      market_shares.push(share);
    });

    $('.market_share').each(function() {
      $(this).html(market_shares[i].toFixed(2) + "%");
      i++;
    });


    /* percentage progress bar */
    $('.progress').each(function() {
      var percentwidth = $(this).siblings('p').text();
      if (parseFloat(percentwidth) < 100) {
        $(this).animate({
          'width' : parseFloat(percentwidth) + '%'
        }, 1200, "easeInOutCubic");
      }
    });

  </script>

  <script type="text/javascript" src="/js/color_toggle.js"></script>


{% endblock %}
