<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
  {% include 'header.html' %}

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('favicon/apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicon/apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon/apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicon/apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon/apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicon/apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicon/apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicon/apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('favicon/android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
  <link rel="icon" href="{{ asset('favicon/apple-icon-76x76.png') }}">
  <link rel="manifest" href="{{ asset('favicon/manifest.json') }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>

<body>

  <canvas id="confetti"></canvas>

  <div class="container-fluid">

    <div class="row ticker">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-12 col-sm-10">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="row">
              <div class="col-xs-12 price">
                <img src="../images/bitcoin.png"/>
                <p id="btc_price"></p>
                <img class="invert" src="../images/ethereum.png"/>
                <p id="eth_price"></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="row">
              <div class="col-xs-4 border-rt">
                <p id="btc_dom"></p>
              </div>
              <div class="col-xs-4 border-rt">
                <p id="eth_dom">%</p>
              </div>
              <div class="col-xs-4">
                <p id="pct_dom"></p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>

    <div class="row">
      <div class="col-xs-12 title">
        <img class="logo" src="../favicon/android-icon-192x192.png" alt="logo"/>
        <h1>Flippening Watch</h1>
      </div>
      <div class="col-xs-12 navigation-bar">
        <a href="/">Metrics<img class="chart-icon-img-menu" src="../images/metrics.png"/></a>
        <a href="/charts">Charts<img class="chart-icon-img-menu" src="../images/chart-icon.png"/></a>
        <a href="https://store.flippening.watch/">Store<img class="chart-icon-img-menu" src="../images/store.png"/></a>
      </div>
      <div class="col-xs-12 subtitle">
        <div>
          <a class="link" href="http://blog.flippening.watch/what-is-the-flippening/" target="_blank">What is &quot;the Flippening?&quot;</a>
        <!--  <a class="link" href="https://store.flippening.watch/" target="_blank">FLIPPENING T-SHIRTS, MUGS, & MORE!</a> -->
          <a class="link" href="http://www.ethprice.com/" target="_blank">Partner: Ethereum Price</a>
        </div>
      </div>
    </div>

  </div>

  {% block content %}{% endblock %}

  <script type="text/javascript" src="/js/confetti.js"></script>
  <script type="text/javascript" src="/js/nav.js"></script>

</body>
</html>
